body,
html,
* {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
body,
*,
p{
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  /* Blue:#0037d2
  Creamy: #f5f3ec */
  --text_blue: rgb(45, 128, 200);
  /* --blue: #0037d2; */
  --blue: #0c6dfd;
  --creamy: #f5f3ec;
  --dark-mine: rgba(35, 33, 33, 0.949);

  --dark: #0a001a;
  --color-yellow: #289adc;
  --color-purple: #11583ed1;
  --white-and-gray-light-gray: #e2e0e5;
}

.container {
  width: 1100px;
  padding: 0;
}

.container-fluid {
  padding: 0px;
}

.topppest {
  color: #0037d2;
  background-color: rgba(255, 255, 255, 0.934);
  height: 30px;
  padding: 3px 0px;
}
.portion {
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
}
.navvyy {
  border-top: 1px solid rgba(128, 128, 128, 0.635);
  height: 80px;
  /* border-bottom: 1px solid black; */
}

.navvyy_ul {
  padding-right: 50px;
}

.navvyy_ul li {
  padding: 0px 10px;
}

.nav-item {
  text-align: center;
  padding: 0;
}

.first_slide {
  position: relative;
}

.welcome {
  width: auto;
  position: absolute;
  top: 200px;
  left: 250px;
  font-size: 40px;
  color: var(--creamy);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.welcome .psc {
  color: var(--creamy);
  font-stretch: extra-expanded;
  font-weight: 700;
}

.welcome button {
  font-size: medium;
  width: 150px;
}

.carousel-inner > .carousel-item {
  height: 600px;
}

.dot {
  height: 45px;
  width: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

.infos {
  height: 600px;
  background-image: url("../images/health-professional-team_52683-36023.webp");
}

.infos_1 {
  position: relative;
}

.head_boxx {
  width: 45%;
  position: absolute;
  right: 0px;
  /* border: 2px solid black; */
}

.boxess {
  padding: 25px;
  margin: 10px 0px;
  background-color: white;
  border-radius: 7px;
}

.boxess span {
  color: var(--blue);
  text-align: center;
}

.boxess i {
  font-size: 35px;
  color: var(--blue);
}

.effectss {
  opacity: 0.85;
  transition: height 4s;
}

.effectss:hover {
  opacity: 1;
}

.effectss:hover .card-body {
  font-size: 17px;
  height: 230px;
}


/* Forms css */

form .inputField{
  margin:3px 0px;
}

.form-group{
  margin: 10px;
}



.buttonbox{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}









/* Footer css starts */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-purple);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
  padding: 72px 8vw;
  color: var(--white-and-gray-light-gray);
}
.footer .h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer .brand .h5 {
  display: flex;
  text-transform: uppercase;
  gap: 16px;
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer .brand {
  max-width: 200px;
  gap: 24px;
  line-height: 1.5;
}

.newsletter {
  position: relative;
}




.social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 20% 20% 20% 20%;
}
.social a {
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--white-and-gray-light-gray);
}
.social a:hover {
  box-shadow: 0px 0px 20px 1px #726193;
  transform: scale(1.1);
}

.copyright {
  /* display: flex; */
  width: 100%;
  justify-content: space-around;
  gap: 0px;
  padding: 32px 6vw;
  background-color: var(--color-yellow);
}

.copyright a {
  color: var(--dark);
  margin: 0 1vw 0 1vw;
}

.abc{
  font-size: larger;
}
.copyright i{
  width: 8px;
}


footer a {
  position: relative;
  color: var(--creamy);
}

footer a:not(.social-icon)::before {
  background-color: var(--white-and-gray-light-gray);
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

footer:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (max-width: 960px) {
  .footer {
    gap: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .footer .brand {
    max-width: 400px !important;
  }

  .subscribe {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .newsletter {
    width: 100%;
    max-width: 370px;
  }
  .newsletter input {
    width: calc(100% - 22px);
  }

  .copyright {
    padding: 32px 5vw;
  }
  .copyright p,
  a {
    font-size: 14px;
  }

  .footer {
    padding: 72px 8vw;
  }
}

@media (max-width: 360px) {
  p,
  a {
    font-size: 14px;
  }

  .footer .h5 {
    font-size: 16px;
  }
}
